.navbar {
    background: transparent !important;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(to right, rgba(100, 136, 179, 0.25), rgba(217, 86, 36, 0.25)),
        url('../img/masthead.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.masthead-heading {
    color: #fff;
    font-size: 54px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

.bold-text {
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
}

.masthead-text {
    color: #dddddd;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    width: 900px;
}

section.content {
    background: #252525;
}

.card-img {
    height: 300px;
}

.news-row .card {
    background-color: rgb(46, 46, 46) !important;
}
