.navbar {
    background: transparent !important;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(to right, rgba(100, 136, 179, 0.3), rgba(217, 86, 36, 0.3)),
        url('../img/masthead.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.masthead-heading {
    color: #fff;
    font-size: 54px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

.bold-text {
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
}

.masthead-text {
    color: #dddddd;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    width: 900px;
}

section.content {
    background: rgb(29, 29, 29);
}

.cta-cards {
    position: relative;
    bottom: 50px;
}

.cta-card {
    border: none !important;
    height: 300px;
}

.card-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
}

.first-cta {
    padding: 3rem !important;
    background-image: linear-gradient(to right, rgba(100, 136, 179, 0.5), rgba(100, 136, 179, 0.5)),
        url('../img/cta_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.second-cta {
    padding: 3rem !important;
    background-image: linear-gradient(to right, rgba(217, 86, 36, 0.5), rgba(217, 86, 36, 0.5)), url('../img/cta_2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.news-row .card {
    background-color: rgb(46, 46, 46) !important;
    margin-bottom: 120px;
}

.news-section-title {
    margin-top: 50px !important;
    margin-bottom: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.news-card-arrow {
    position: absolute;
    bottom: 32px;
    right: 25px;
}

.news-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    padding-bottom: 10px;
}

.information {
    background-color: rgb(22, 22, 22) !important;
    padding: 60px 0;
}

ul {
    list-style-type: none;
    color: rgb(130, 130, 130);
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.information-title {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    padding: 0 0 10px 30px;
    font-size: 24px;
}

.contact {
    padding-top: 45px;
}
.contact-text {
    color: #fff;
    padding-left: 5px;
}

.copyright {
    height: 75px;
    background-color: rgb(32, 32, 32) !important;
}

.copyright-text,
.credit-text {
    padding-top: 25px;
    color: rgb(140, 140, 140);
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
